<!-- code snippet for nav bar   -->
<nav class="site-nav">

  <div class="topnav">
    <a class="active" href= "#home">Home</a>
    <a href="pages/Forbidden City Map.html">Forbidden City Map</a>
    <a href="pages/PlaceNameMap_inscribed_072023.html">Inscribed Place Name Map</a>
    <a href="pages/YongShouGong_exhibit">Yong Shou Gong Jade Exhibit</a>
    <a href="pages/QianQingGong_exhibit">Qian Qing Gong Jade Exhibit</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
