<!DOCTYPE html>
<head>
  <link rel ="stylesheet" type="text/css" href="assets/main.css">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>The Qing Emperor's Hindustan Jades</title>
  <meta name="description" content="">

  <script src="https://ncsu-libraries.github.io/annona/dist/annona.js"></script>
  <link rel="stylesheet" type="text/css" href="https://ncsu-libraries.github.io/annona/dist/annona.css">
  <link rel="stylesheet" href="assets/main.css">

  <div class="wrapper">
    <a class="site-title" href="/jadesproject9/">The Qing Emperor's Hindustan Jades</a>
  </div>
</head>

<!-- {% include header.html %} -->
<!-- {% include nav.html %} -->
{% include nav.html %}
<body>

<h1>Items in the {{ page.title }} </h1>

<div style="margin-top:100px"></div>
{{ content }}


</body>
{% include footer.html %}
